/*! reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*! end of reset */

/** geniral **/
html,
body {
  font-family: sans-serif;
}

h1,
h2,
h3 {
  margin-bottom: 20px;
  text-decoration: none;
}
a {
  text-decoration: none;
}

/** end geniral **/

/* * header * */

.header {
  background-color: #333333;
  overflow: auto;
  line-height: 1.6;
}

.header nav h1 {
  color: aliceblue;
  padding: 20px;
  float: left;
  margin-bottom: 0px;
}

.header nav h1 a {
  color: aliceblue;
  font-family: "Satisfy", cursive;
  letter-spacing: 10px;
  padding: 10px;
}
.header nav ul {
  float: right;
  list-style: none;
  padding: 10px;
}
.header nav ul li {
  float: left;
}

.header nav ul li a {
  padding: 20px;
  display: block;
  color: white;
}
.header nav ul li a:hover {
  color: #dfa623;
}
.fa-crown {
  float: left;
  padding: 20px;
  margin-bottom: 0;
  font-size: xxx-large;
  color: #dfa623;
}

/** end of header **/

/** the begine of section one  **/

.vpcontainer {
  height: 600px;
  background: url(../image/frame.jpg) center center / cover;
}

.container {
  width: 800px;
  margin: auto;
}

.vph1 {
  padding-top: 100px;
  color: white;
  font-size: 2.2rem;
  font-family: sans-serif;
  margin-bottom: 32px;
}

.span1 {
  color: #dfa623;
}
.vpP {
  color: white;
  font-size: x-large;
}
/* *start of the section 2 offer* */
.offer {
  padding: 10rem 1rem;
  background: #eeeeee;
}
.offer-list {
  display: flex;
  flex: row nowrap;
  list-style: none;
  justify-content:space-between;
  color: black;
}
.offer-elem {
  margin: 1rem;
  background: white;
  border: 1px solid #ddd;
  border-radius: 23px;
  box-shadow: 0 3px 10px rgb(0 0 0 /0.2);
  flex: 1;


}
.offer-elem-img {
  width: 100%;
  border: 2px solid #fff;
  border-radius: 20px;
  height: auto;
  display: block;
  box-shadow: 0 0 1.5rem rgba(17, 17, 17, 0.7);
}
.offer-elem-text {
  padding: 2rem;
  text-align: center;
}
.offer-separator {
  height: 2px;
  width: 50px;
  background: #333;
  margin: 1rem auto;
}

/* * the start section of equipe section number "3"  * */

.equipe {
  height: 500px;
}

.equipe-img {
  height: 100%;
  width: 50%;
  float: left;
}

.equipe-defintion {
  background-color: #333333;
  height: 500px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 40px;
  letter-spacing: 2px;
  line-height: 2em;
  font-weight: 600;
  
}
